build/
bin/
*.o
*.so
*.a
.vscode/
.DS_Store
atests/
googletest-src/
googletest-build/
googletest-populate-prefix/
_deps/
tests/sample.mp4
config.json
nuc_display.service.resolved
build_rpi/
build_rpi/
