name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install -y libdrm-dev libgbm-dev libegl1-mesa-dev libgles2-mesa-dev pkg-config

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build
